/* You can add global styles to this file, and also import other style files 
 // --proxy-config proxy.conf.json*/
label {
  font-weight: bold;
}

.margin-bottom {
  padding-bottom: 20px;
}

.header{
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}


.ui-button.pink-button {
  background-color: rgb(168, 59, 231);
  border: rgb(168, 59, 231);
}

.ui-button.pink-button:hover:enabled{
  background-color: rgb(148, 47, 151);
  border: rgb(234, 71, 240);
}