/* You can add global styles to this file, and also import other style files 
 // --proxy-config proxy.conf.json*/
label {
  font-weight: bold;
}

.margin-bottom {
  padding-bottom: 20px;
}

.header{
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
